{% extends 'base.html' %}
{% load static %}

{% block left-body %}
    <div class="left-article">
            <h3 class="left-title">文章分类</h3>
            <ui class="left-content">
                <li><a href="">分类1</a></li>
                <li><a href="">分类2</a></li>
                <li><a href="">分类3</a></li>
                <li><a href="">分类4</a></li>
            </ui>
        </div>

        <div class="left-article">
            <h3 class="left-title">时间归档</h3>
            <ui class="left-content">
                <li><a href="">2018</a></li>
                <li><a href="">2017</a></li>
                <li><a href="">2016</a></li>
                <li><a href="">2015</a></li>
            </ui>
        </div>
{% endblock %}

{% block middle-body %}
    内容fdg
    <p>1</p>
    <p>1</p>
    <p>1</p>
    <p>1</p>
    <p>1</p>
    <p>1</p>
    <p>1</p>
    <p>1</p>
    <p>1</p>
    <p>1</p>
    <p>1</p>
    <p>1</p>
    <p>1</p>
    <p>1</p>
    <p>1</p>
    <p>1</p>
    <p>1</p>
    <p>1</p>
    <p>1</p>
    <p>1</p>
    <p>1</p>
    <p>1</p>
    <p>1</p>
    <p>1</p>
    <p>1</p>
    <p>1</p>
    <p>1</p>
    <p>1</p>
    <p>1</p>
    <p>1</p>
    <p>1</p>
    <p>1</p>
    <p>1</p>
    <p>1</p>
    <p>1</p>
    <p>1</p>
    <p>1</p>
    <p>1</p>
    <p>1</p>
    <p>1</p>
    <p>1</p>
    <p>1</p>
    <p>1</p>
    <p>1</p>
    <p>1</p>
    <p>1</p>
    <p>1</p>
    <p>1</p>
    <p>1</p>
    <p>1</p>
    <p>1</p>
    <p>1</p>
    <p>1</p>
    <p>1</p>
    <p>1</p>
    <p>1</p>
    <p>1</p>
    <p>1</p>
    <p>1</p>
    <p>1</p>
    <p>1</p>
    <p>1</p>
    <p>1</p>
    <p>1</p>
    <p>1</p>
    <p>1</p>
    <p>1</p>
    <p>1</p>

    <script src="{% static 'middle-7-10.js' %}"></script>

{% endblock %}

{% block right-body %}
    <form action="", method="post">
        <input class="input_search" type="text" name="search" placeholder="搜索文章">
        <input type="submit" value="搜索"><br />
    </form>

    <h3 class="link-title">
        友情链接
    </h3>
    <ui>
        <li><a href="">链接1</a></li>
        <li><a href="">链接1</a></li>
        <li><a href="">链接1</a></li>
    </ui>
{% endblock %}